
ingress:
  enabled: true
  class: "nginx"
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-http"
    nginx.ingress.kubernetes.io/configuration-snippet: |
      more_set_headers "X-Content-Type-Options: nosniff";
      more_set_headers "X-Frame-Options: Deny";
      more_set_headers "X-Xss-Protection: 1; mode=block";
      more_set_headers "Content-Security-Policy default-src 'none'";
      more_set_headers "Referrer-Policy: 'same-origin';"
    nginx.ingress.kubernetes.io/enable-modsecurity: "true"
    nginx.ingress.kubernetes.io/enable-owasp-core-rules: "true"
    nginx.ingress.kubernetes.io/modsecurity-transaction-id: "$request_id"
    nginx.ingress.kubernetes.io/modsecurity-snippet: |
      SecRuleEngine On
      SecRequestBodyAccess On
  hosts:
    - host: {{ requiredEnv "DNS_HOST_NAME" }}
      serviceName: app-test
      servicePort: 80
  tls:
    - hosts:
      - {{ requiredEnv "DNS_HOST_NAME" }}
      secretName: tls.{{ requiredEnv "DNS_HOST_NAME" }}