
ingress:
  enabled: true
  class: "nginx"
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-http"
  hosts:
    - host: {{ requiredEnv "DNS_HOST_NAME" }}
      serviceName: app-test
      servicePort: 80
  tls:
    - hosts:
      - {{ requiredEnv "DNS_HOST_NAME" }}
      secretName: tls.{{ requiredEnv "DNS_HOST_NAME" }}